In [7]:
import numpy as np
import pandas as pd

In [8]:
from numpy.random import randn

In [9]:
np.random.seed(101)

In [10]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [12]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [7]:
df['W']

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [8]:
type(df['W'])

pandas.core.series.Series

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df[['W','Z']]

          W         Z
A  0.302665 -1.159119
B -0.134841  0.184502
C  0.807706  0.329646
D -0.497104  0.484752
E -0.116773  1.996652

In [11]:
df['new']=df['W']+df['Z']

In [12]:
df['new']

A   -0.856454
B    0.049661
C    1.137352
D   -0.012352
E    1.879879
Name: new, dtype: float64

In [13]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -0.856454
B -0.134841  0.390528  0.166905  0.184502  0.049661
C  0.807706  0.072960  0.638787  0.329646  1.137352
D -0.497104 -0.754070 -0.943406  0.484752 -0.012352
E -0.116773  1.901755  0.238127  1.996652  1.879879

In [16]:
df.drop('new', axis=1)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [18]:
df.drop('X', axis=1,inplace=True)

In [19]:
df

          W         Y         Z       new
A  0.302665 -1.706086 -1.159119 -0.856454
B -0.134841  0.166905  0.184502  0.049661
C  0.807706  0.638787  0.329646  1.137352
D -0.497104 -0.943406  0.484752 -0.012352
E -0.116773  0.238127  1.996652  1.879879

In [20]:
df.drop('E')

          W         Y         Z       new
A  0.302665 -1.706086 -1.159119 -0.856454
B -0.134841  0.166905  0.184502  0.049661
C  0.807706  0.638787  0.329646  1.137352
D -0.497104 -0.943406  0.484752 -0.012352

In [21]:
df.drop('E',axis=0)              # row as axis 0 and col as axis 1

          W         Y         Z       new
A  0.302665 -1.706086 -1.159119 -0.856454
B -0.134841  0.166905  0.184502  0.049661
C  0.807706  0.638787  0.329646  1.137352
D -0.497104 -0.943406  0.484752 -0.012352

In [23]:
df.shape

(5, 4)

In [24]:
df

          W         Y         Z       new
A  0.302665 -1.706086 -1.159119 -0.856454
B -0.134841  0.166905  0.184502  0.049661
C  0.807706  0.638787  0.329646  1.137352
D -0.497104 -0.943406  0.484752 -0.012352
E -0.116773  0.238127  1.996652  1.879879

In [25]:
df.loc['B']

W     -0.134841
Y      0.166905
Z      0.184502
new    0.049661
Name: B, dtype: float64

In [26]:
df.iloc[1]       # index based location

W     -0.134841
Y      0.166905
Z      0.184502
new    0.049661
Name: B, dtype: float64

In [27]:
df.loc['B','Y']

0.16690463609281317

In [28]:
df.loc[['A','B'],['Y','Z']]

          Y         Z
A -1.706086 -1.159119
B  0.166905  0.184502

In [1]:
# conditional selection

In [15]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [17]:
booldf=df>0

In [18]:
booldf

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [19]:
df[booldf]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [20]:
df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [23]:
df.loc['B']>0

W     True
X    False
Y    False
Z     True
Name: B, dtype: bool

In [24]:
df[df['W']>0]          # it only shows the value having greater than 0 for W

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [28]:
df[df['W']>0][['X','Y']]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

In [31]:
df[(df['W']>0) & (df['Y']>0)]             # and

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
E  0.190794  1.978757  2.605967  0.683509

In [33]:
df[(df['W']>0) | (df['Y']>1)]                  # or

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [34]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [41]:
newind="CA XY BY BU bh".split()

In [42]:
newind

['CA', 'XY', 'BY', 'BU', 'bh']

In [43]:
df['states']=newind

In [44]:
df

          W         X         Y         Z states
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     XY
C -2.018168  0.740122  0.528813 -0.589001     BY
D  0.188695 -0.758872 -0.933237  0.955057     BU
E  0.190794  1.978757  2.605967  0.683509     bh

In [46]:
df.set_index('states')

               W         X         Y         Z
states
CA      2.706850  0.628133  0.907969  0.503826
XY      0.651118 -0.319318 -0.848077  0.605965
BY     -2.018168  0.740122  0.528813 -0.589001
BU      0.188695 -0.758872 -0.933237  0.955057
bh      0.190794  1.978757  2.605967  0.683509

In [47]:
df

          W         X         Y         Z states
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     XY
C -2.018168  0.740122  0.528813 -0.589001     BY
D  0.188695 -0.758872 -0.933237  0.955057     BU
E  0.190794  1.978757  2.605967  0.683509     bh

In [49]:
df.set_index('states',inplace=True)         # permanently changes

In [50]:
df

               W         X         Y         Z
states
CA      2.706850  0.628133  0.907969  0.503826
XY      0.651118 -0.319318 -0.848077  0.605965
BY     -2.018168  0.740122  0.528813 -0.589001
BU      0.188695 -0.758872 -0.933237  0.955057
bh      0.190794  1.978757  2.605967  0.683509

In [51]:
# index levels

In [53]:
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index= pd.MultiIndex.from_tuples(hier_index)

In [54]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [55]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [56]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [57]:
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [59]:
df.loc['G1'].loc[1]

A    0.302665
B    1.693723
Name: 1, dtype: float64

In [62]:
df['A'].loc['G1']

1    0.302665
2   -1.706086
3   -0.134841
Name: A, dtype: float64

In [63]:
df.index.names

FrozenList([None, None])

In [64]:
df.index.names=['Groups','names']

In [65]:
df

                     A         B
Groups names
G1     1      0.302665  1.693723
       2     -1.706086 -1.159119
       3     -0.134841  0.390528
G2     1      0.166905  0.184502
       2      0.807706  0.072960
       3      0.638787  0.329646

In [66]:
df.loc['G2'].loc[2]

A    0.807706
B    0.072960
Name: 2, dtype: float64

In [67]:
df.loc['G2'].loc[2]['B']

0.072959675317038689

In [68]:
# crosscection for multilevel indexing   xs

In [70]:
df.xs(1,level='names')

               A         B
Groups
G1      0.302665  1.693723
G2      0.166905  0.184502